
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #b9b9b9); /* Branco para azul claro */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Estilo personalizado para a navbar */
.navbar {
    background-color:  rgb(11, 0, 36);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.navbar .nav-link,
.navbar .navbar-text {
    color: #fff !important;
}
.navbar .nav-link:hover {
    color: #797979 !important;
}
.navbar-text b {
    font-weight: bold; /
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.btn-outline-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
}
.btn-outline-danger:hover {
    background-color: #ff0019 !important;
    color: #fff;
}

.table-success{
    margin-top: 130px;
}
.titulo-h2 {
    color: rgb(255, 255, 255);
    margin-top: 25px;
    text-align: center;
    background-color: rgb(11, 0, 36);
    padding: 5px;
}